.main-slider
{
    height: 50vh;
    width: 40%;
    background-color: red;
    margin: 0;
}
.container-carousel
{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.link-category
{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 10%;
    text-decoration: none;
    color: black;
    transition: 350ms;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.link-category:nth-child(2n+0)
{
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
    border-top: 1px solid rgba(128, 128, 128, 0.342);
}
.link-category:last-child
{
    border-bottom: none;
}
.line-between
{
    width: 1px;
    height: 70%;
    background-color: rgba(128, 128, 128, 0.342);
    margin: 0 5% 0 5% ;
    
}
.link-category:hover
{
    color: rgb(71, 0, 138);
}
.categories-div
{
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
    height: 50vh;
    width: 25%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.icon-category
{
    width: 50px;
    height: 90%;
    margin-left: 5%;
}
.thumbs
{
    display: none;
}
.carousel
{
    margin: 0;
    height: 100%;
    text-align: center;
}
.slider-wrapper
{
    height: 100%;
}
.animated
{
    height: 100%;
}
.slide
{
    height: 100%;
}
.image-container
{
    height: calc(100% - 50px);
}
.image-container-infos
{
    background-color: rgba(0, 0, 0, 0.185);
    position: absolute;
    bottom: 0;
    z-index: 999;
    height: 30%;
    width: 100%;
}
.imagine-aff
{
    width: 100%;
    height: 100%;
}
.image-container > a
{
    z-index: 998;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.control-dots
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.legend
{
    height: calc(100% - 50px);
    width: 100%;
    border-radius: none;
    padding: 0px;
    opacity: 1;
    position: relative;
    color: black;
}
.carousel .slide .legend 
{
    padding: 0px;
    opacity: 1;
    font-size: 1.5rem;
    background-color: #4863ff00;
}
.more
{
    position: absolute;
    right: 5%;
    color: white;
    bottom: 10%;
}
.pc
{
    display: block;
}
.tel
{
    display: none;
}
@media only screen and (max-width:960px) {
.carousel .slide .legend 
    {
        font-size: 1rem;
    }
    .container-carousel
    {
        min-height: 105vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .pc
    {
        display: none;
    }
    .tel
    {
        display: block;
    }
    .main-slider
    {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .categories-div
    {
        width: 90%;
    }
}