.container-stores
{
   position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    text-align: center;
    min-height: 0;
    min-width: 0;
    background-color: white;
    
}
.slick-dots
{
  bottom: -50px !important;
}
.slick-track
{
  display: flex !important;
  justify-content: center;
   vertical-align: middle;
   align-items: center;
}
.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.slick-prev {
  left: 2% !important;
  z-index: 1;
}
.slick-next {
  right: 2% !important;
  z-index: 1;
}
.link-stores
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.slick-next:before, .slick-prev:before 
{
  color: black !important;
}
.slick-slide .slick-active
{
  width: 20%;
}