*::-webkit-scrollbar {
  display: none;
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.App
{
  min-height: 100vh;

}
#root
{
  /* background-color: rgba(128, 128, 128, 0.05); */
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  
}

